<div class="button-container" role="navigation">
    <a href="https://linkedin.com/in/name" class="btn" target="_blank" rel="noopener noreferrer" aria-label="Visit my LinkedIn profile">
        <img src="assets/white-linkedin-icon.png" alt="LinkedIn logo">
    </a>
    <a href="https://github.com/name" class="btn" target="_blank" rel="noopener noreferrer" aria-label="Visit my GitHub profile">
        <img src="assets/white-github-icon.png" alt="GitHub logo">
    </a>
    <a href="https://discordapp.com/users/name" class="btn" target="_blank" rel="noopener noreferrer" aria-label="Connect with me on Discord">
        <img src="assets/white-discord-icon.png" alt="Discord logo">
    </a>
</div>
