<section class="languages-grid">
    <div class="grid-item"><img src="assets/c.png" alt="C programming language logo"></div>
    <div class="grid-item"><img src="assets/python.png" alt="Python programming language logo"></div>
    <div class="grid-item"><img src="assets/javascript.png" alt="JavaScript programming language logo"></div>
    <div class="grid-item"><img src="assets/typescript.png" alt="TypeScript programming language logo"></div>
    <div class="grid-item"><img src="assets/html5.png" alt="HTML5 logo"></div>
    <div class="grid-item"><img src="assets/css3.png" alt="CSS3 logo"></div>
    <div class="grid-item"><img src="assets/sqlite.png" alt="SQLite database logo"></div>
    <div class="grid-item"><img src="assets/bootstrap.png" alt="Bootstrap framework logo"></div>
    <div class="grid-item"><img src="assets/whitewindows.png" alt="Windows operating system logo"></div>
    <div class="grid-item"><img src="assets/flask.png" alt="Flask framework logo"></div>
    <div class="grid-item"><img src="assets/QGIS.png" alt="QGIS software logo"></div>
    <div class="grid-item"><img src="assets/VBA1.png" alt="VBA programming language logo"></div>
    <div class="grid-item"><img src="assets/markdown.png" alt="Markdown syntax logo"></div>
    <div class="grid-item"><img src="assets/gimp.png" alt="GIMP image editor logo"></div>
    <div class="grid-item"><img src="assets/Llama C++.png" alt="C++ programming language logo"></div>
    <div class="grid-item"><img src="assets/kobold.png" alt="Kobold AI logo"></div>
    <div class="grid-item"><img src="assets/whiteollama.png" alt="Ollama AI logo"></div>
</section>
